{% extends "cards/__main_card.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block cardinner %}
    <div class="card-header">
        Palacoulo
    </div>
    <div class="card-body">
    <p> Porta está <span style="color: red; ">
        {% if status == 0 %}
            Fachada</span></p>
            <a href= {{ url_for('homedash.change_garage_door') }} class="btn btn-primary" >Abrir</a>
        {% elif status == 1 %}
            A Abrir</span></p>
            <a href= {{ url_for('homedash.change_garage_door') }} class="btn btn-primary" >Fechar</a>
            <p> distance : {{ distance }}</p>
        {% elif status == 2 %}
            Aberta</span></p>
            <a href= {{ url_for('homedash.change_garage_door') }} class="btn btn-primary" >Fechar</a>
        {% elif status == 3 %}
            A fechar</span></p>
            <a href= {{ url_for('homedash.change_garage_door') }} class="btn btn-primary" >Abrir</a>
        {% endif %}
    </div>
{% endblock %}