
<tr>
    {% if door is not none %}
     <td class="title">{{ door.get_hour() }}</td>

    {% if door.get_opened_status() == 'opening_remotaly' %}
            <td class="title">Controlado Remotamente</td>
    {% elif door.get_opened_status() == 'opening_manualy' %}
            <td class="title">Aberto com Campainha</td>
    {% elif door.get_opened_status() == 'door_belt' %}
            <td class="title">Tocou Campainha</td>
    {% elif door.get_opened_status() == 'door_open' %}
             <td class="title">Porta 3 andar Aberta</td>
    {% else %}
        <td class="title"> {{ door.get_opened_status() }} </td>
    {% endif %}
    {% endif %}

</tr>
