{% extends "main.html" %}
{% block content %}


    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li><a>Configurações</a></li>
                </ul>

                <div id="loading">
                    <div class="col-md-12 col-sm-12">
                        <br>
                        <center>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul>
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </center>
                    </div>
                </div>

                {% if open %}
                    <p> Porta está <span style="color: green; ">ABERTA</span> (<a href="/portao/trigger">Fechar</a>)</p>
                    <p> Distancia : {{ distance }}
                        {% else %}
                    <p> Porta está <span style="color: red; ">FECHADA</span> (<a href="/portao/trigger">Abrir</a>)</p>
                    <p> distance : {{ distance }}</p>
                {% endif %}

            </div>
        </div>
    </div>





    <script>
        $(window).ready(function () {
            $('#loading').hide();
        });
    </script>

{% endblock %}