{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block pageinner %}
    {#  Have the following configurable in some way... #}
    {% if type == 'porto' %}
        {% include 'cards/porto_door_opener.html' %}
    {% elif type == 'palacoulo' %}
        {#  Have loading script?? #}
        <div id="loading"></div>
        {% include 'cards/palacoulo_garage_door_opener.html' %}
    {% endif %}

 {# Like this as size shall be diferent for table... #}
    <div id="row" class="col-md-6 mb-3">
        <div class="card text-center">
            {% include 'cards/date_opened_table.html' %}
        </div>
    </div>
{% endblock %}