<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Palaçoulo Dashboard</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- Bokeh includes-->
    <script type="text/javascript" src={{ url_for('static', filename='js/bokeh-1.0.2.min.js') }} ></script> <!-- v4.1.1 -->

    <!-- StyleSheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bokeh-1.0.2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open_sans.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/jquery-ui.css') }}" type="text/css"> <!-- 1.21.1 -->

    <script src={{ url_for('static', filename='js/gauge.min.js') }}></script> <!-- v4.1.1 -->
    <script src={{ url_for('static', filename='js/gauge.page.js') }}></script> <!-- v4.1.1 -->

    {#  comment #}
    <!-- jQuery Js -->
    <script src={{ url_for('static', filename='jquery/jquery-1.12.4.js') }}></script>
    <script src={{ url_for('static', filename='jquery/jquery-ui.js') }}></script> <!-- ui/1.12.1 -->
    <!-- JS Scripts-->
    <script src={{ url_for('static', filename='js/popper.min.js') }}></script> <!-- ajax/libs/popper.js/1.14.3/umd -->
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script> <!-- v4.1.1 -->
    {# endcomment #}


    <!-- Custom Js -->
    <script>
        $(function () {
            $("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});
        });
    </script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url_for('app.overview') }}">Domótica Valverde</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('app.porto_overview',location='porto') }}">Porto<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('app.porto_overview',location='palacoulo') }}">Palaçoulo</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('app.porto_overview',location='porto') }}"><span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-user-circle"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{{ url_for('auth.settings') }}"><i class="fa fa-cog"></i>
                            Settings </a>
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i
                                class="fa fa-sign-out-alt fa-fw"></i>Logout</a>
                    </div>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link btn-outline-secondary" href="{{ url_for('auth.logout') }}">Sign out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<!-- /. NAV SIDE  -->
<!--  <main id="page-wrapper" class="col-md-10 col-xs-12 col-lg-10 pt-3 px-4"> -->
<!--  <div id="page-inner"
      class="d-flex flex-wrap flex-md-nowrap pb-2 mb-3 border-bottom">   --> <!-- justify-content-between -->
<main id="page-wrapper" class="col-md-12">
    <div id="page-inner" class="justify-content-center row d-flex align-items-center h-100">
        {% block pageinner %}{% endblock %}
    </div>
    <!-- /. PAGE INNER  -->
</main>


</body>

<style>
    #loading {
        width: 35px;
        height: 35px;
        display: none;
        background: url({{ url_for('static', filename='ajax-loader.gif') }}) no-repeat;
        cursor: wait;
    }
</style>

</html>